// Imports
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,600;1,400;1,600&display=swap');

// Colours
$light: #eee;
$dark: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //== Text
  font-family: "Zilla Slab", sans-serif;

  //== Graphics
  background-color: $light;
  color: $dark;
}

// Content container
#main {
  //== Positioning
  padding: 2em 2em;

  //== Flex
  display: flex;
  flex-direction: column;
  align-items: center;

  //== Text
  text-align: center;

  // Page title
  h1 {
    font-size: 3em;
    margin-bottom: 0.5rem;
  }
}

// Contains label/input pairs
.form-control {
  //== Positioning
  margin-bottom: 1rem;

  //== Flex
  display: flex;
  flex-direction: column;
  align-items: start;
  
  //== Text
  font-size: 1.25em;

  label {
    font-size: 1em;
    margin-bottom: 0.2em;
  }

  input {
    //== Positioning
    padding: 0.2em;

    //== Text
    font-size: 1.2em;
  }

  input.large {
    width: 60vw;
    font-size: 1.5em;
  }
}