// Imports
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,600;1,400;1,600&display=swap');

// Colours
$light: #eee;
$dark: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //== Text
  font-family: "Zilla Slab", sans-serif;

  //== Graphics
  background-color: $light;
  color: $dark;
}

// Content container
#main {
  //== Positioning
  padding: 2em 2em;

  //== Flex
  display: flex;
  flex-direction: column;
  align-items: center;

  //== Text
  text-align: center;

  // Page title
  h1 {
    //== Positioning
    margin-bottom: 2rem;

    //== Text
    font-size: 3em;
  }
}

// Contains label/input pairs
.form-control {
  //== Positioning
  margin-bottom: 3rem;

  //== Flex
  display: flex;
  flex-direction: column;
  align-items: start;
  
  //== Text
  font-size: 1.25em;

  label {
    font-size: 1em;
    margin-bottom: 0.2em;
  }

  input {
    //== Positioning
    padding: 0.3em 0.6em;

    //== Text
    font-family: inherit;
    font-size: 1.2em;
    color: $dark;

    //== Graphics
    border: none;
    border-bottom: 2px solid $dark;
    background-color: transparent;

    &:focus {
      border-bottom: 2px solid $dark;
    }
    
    &[readonly] {
      cursor: default;
      border-bottom: 2px solid $dark;
    }
  }

  // Inputs that are supposed to draw attention
  input.large {
    width: 60vw;
    font-size: 1.4em;
  }
}

@media screen and (max-width: 412px) {
  body {
    font-size: 0.8em;
  }

  .form-control {
    width: 100%;

    input, input.large {
      width: 100%;
    }
  }
}